@import "variables";
.fancyinput {
    position: relative;
    label {
        visibility: hidden;
        position: absolute;
        top: 0;
        font-size: 0.8rem;
        left: 10px;
        transition: 0.5s;
        color: $primary-color;
        user-select: none;
    }
    input {
        font-family: inherit;
        width: 100%;
        font-size: 1rem;
        padding: 8px;
        outline: none;
        border: 1px solid rgba($primary-color, 0.2);
        border-radius: 0px;
        box-shadow: none;
        background-color: transparent;
        transition: border-color 0.2s;
        &:not(:placeholder-shown) ~ label {
            // color: rgb(113, 112, 148);
            top: -25px;
            padding: 0px 2px;
            left: 0;
            border: 0;
            font-size: 1rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: transparent;
        }
        &:focus {
            background-color: rgba($primary-color, 0.2);
            border-color: rgba($primary-color, 0.8);
            transition: border-color 0.2s;
        }
        &:focus ~ label {
            background-color: transparent;
        }
    }
    textarea {
        @extend input;
        &:not(:placeholder-shown) ~ label {
            color: $primary-color;
            top: -12px;
            //border: 0;
            font-size: 0.8rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: white;
        }
        &:focus {
            outline: none;
            border: 1px solid royalblue;
            box-shadow: none;
            transition: 0.5s ease;
        }
        &:not(:focus) ~ label span {
            display: none;
            transition: all 0.5s ease;
        }
    }
}

.fancyselect {
    position: relative;
    select {
        font-family: inherit;
        width: 100%;
        border: 1px solid rgba($primary-color, 0.2);
        outline: 0;
        font-size: 1rem;
        padding: 8px;
        border-radius: 0px;
        background-color: transparent;
        transition: border-color 0.2s;
        &:focus {
            background-color: rgba($primary-color, 0.3);
            border-color: rgba($primary-color, 0.5);
            transition: border-color 0.2s;
        }
        &:focus ~ label {
            background-color: transparent;
        }
        option {
            background-color: rgba(white, 0.5);
            color: #333;
        }
    }
    label {
        position: absolute;
        color: $primary-color;
        top: -10px;
        left: 10px;
        padding: 0px 2px;
        font-size: 0.8rem;
        visibility: visible;
        background-color: white;
        transition: 0.5s;
    }
}

.fancyselect-underline {
    position: relative;
    select {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($primary-color, 0.2);
        outline: 0;
        font-size: 1rem;
        padding: 5px;
        border-radius: 0px;
        background-color: transparent;
        transition: border-color 0.2s;
        &:focus {
            background-color: rgba($primary-color, 0.3);
            border-color: rgba($primary-color, 0.5);
            transition: border-color 0.2s;
        }
        &:focus ~ label {
            background-color: transparent;
        }
        option {
            background-color: rgba(white, 0.5);
            color: #333;
        }
    }
    label {
        position: absolute;
        color: $primary-color;
        top: -5px;
        left: 10px;
        padding: 0px 2px;
        font-size: 0.8rem;
        visibility: visible;
        background-color: white;
        transition: 0.5s;
    }
}

//rounded input for search
.fancy-search-grow {
    position: relative;
    input {
        border-style: solid;
        border-width: thin;
        border-color: silver;
        border-radius: 50px;
        width: 100%;
        line-height: 1.2rem;
        background-color: transparent;
        padding: 5px 10px 5px 25px;
        text-align: center;
        &:focus {
            outline: 0;
            transition: 1s;
        }
        &:not(:placeholder-shown) {
            outline: 0;
            transition: 1s;
        }
    }
}

//rounded input for search
.fancy-search-grow-full {
    input {
        border-style: solid;
        border-width: thin;
        border-color: silver;
        border-radius: 50px;
        width: 80%;
        line-height: 1.2rem;
        background-color: transparent;
        padding: 5px 15px 5px 15px;
        &:focus {
            outline: 0;
            transition: 1s;
        }
        &:not(:placeholder-shown) {
            outline: 0;
            width: 90%;
            transition: 1s;
        }
    }
}
