// flex : col size and responsiveness
.flex {
    display: flex;
    &.two-cols .col {
        flex-basis: 50%;
    }
    &.three-cols .col {
        flex-basis: 33.33%;
    }
    &.centered {
        justify-content: center;
        align-items: center;
    }
    &.align-items-center {
        align-items: center;
    }

    & .col {
        display: flex;
        flex-direction: column;
        &.centered {
            justify-content: center;
            align-items: center;
        }
    }

    & .w-25 {
        flex-basis: 25%;
    }
    & .w-30 {
        flex-basis: 30%;
    }
    & .w-40 {
        flex-basis: 40%;
    }
    & .w-50 {
        flex-basis: 50%;
    }
    & .w-60 {
        flex-basis: 60%;
    }
    & .w-70 {
        flex-basis: 70%;
    }
}
.block {
    display: block;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
