// flex : col size and responsiveness
.flex {
    display: flex;
    &.colx2 div {
        flex-basis: 50%;
    }
    &.colx3 div {
        flex-basis: 33.33%;
    }
    &.centered {
        justify-content: center;
        align-items: center;
    }

    & .w-30 {
        flex-basis: 30%;
    }
    & .w-70 {
        flex-basis: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .flex {
        &.responsive {
            display: block;
        }
    }
}
