.icon-small {
    width: 24px;
    height: 24px;
}
.icon-medium {
    width: 32px;
    height: 32px;
}
.icon-large {
    width: 64px;
    height: 64px;
}
.icon-xlarge {
    width: 100px;
    height: 100px;
}
.illustration {
    width: 75%;
    height: 75%;
}
