* {
    box-sizing: border-box !important;
    margin: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    background-color: #fff;
    color: #555;
    font-family: "Montserrat";
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

p {
    line-height: 1.6;
}

.text-center {
    text-align: center;
}

.background-image-fixed {
    background-attachment: fixed;
}

.mr-auto {
    margin-left: auto;
}
