.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    color: #ddd;
    line-height: 60px;
    padding: 0 24px;
    background-color: rgb(25, 125, 112);
    &.light {
        background-color: #fff;
        color: rgb(25, 125, 112);
        box-shadow: rgba(16, 77, 69, 0.2) 0px 20px 30px -20px;
    }
    & .menu-icon {
        display: none;
    }
    & .site-logo {
        font-size: 1.6rem;
        font-weight: 400;
    }
    & .close-menu {
        display: none;
    }
    // all about nav-links, padding and hover action
    & .nav-links {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        & .nav-link {
            padding: 0 10px;
            &::after {
                content: '';
                width: 0;
                background: #ddd;
                display: block;
                height: 2px;
                transition: 0.5s;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        position: fixed;
        top: 0;
        z-index: 10;
        & .menu-icon {
            display: flex;
            margin-right: 10px;
        }
        & .close-menu {
            display: flex;
            justify-content: center;
            margin: 50px 0;
        }
        & .nav-links {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            width: 60%;
            height: 100vh;
            overflow: auto;
            padding: 20px;
            line-height: 40px;
            text-align: left;
            background-color: #d1e5e2;
            color: rgb(25, 125, 112);
            opacity: 0.9;
            z-index: 5;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            &.slide-left {
                transform: translateX(0) !important;
            }
        }
    }
    .responsive {
        display: block;
    }
}