* {
  box-sizing: border-box !important;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
  background-color: #fff;
  color: #555;
  font-family: "Montserrat";
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

p {
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.background-image-fixed {
  background-attachment: fixed;
}

.mr-auto {
  margin-left: auto;
}

.block {
  display: block;
}

.flex .cell {
  display: flex;
  flex-basis: 33.33%;
  height: 100%;
  background-color: #777;
}

.box {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: #02f;
  margin: auto;
}

.box-500 {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #aaa;
}

.box-500 .centered {
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.top-right {
  margin-left: auto;
  margin-bottom: auto;
  z-index: 3;
}

.bottom-left {
  margin-right: auto;
  margin-top: auto;
  z-index: 2;
}

.bg-primary {
  background-color: #027682;
}

.page,
.h-100 {
  height: 100vh;
}

section.w-80 {
  width: 80%;
  margin: auto;
}

.w-100 {
  width: 100%;
}

.h-10 {
  height: 10vh;
}

.h-20 {
  height: 20vh;
}

.h-30 {
  height: 30vh;
}

.h-50 {
  height: 50vh;
}

.h-70 {
  height: 70vh;
}

.h-80 {
  height: 80vh;
}

.h-90 {
  height: 90vh;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-100 {
  margin-bottom: 100px;
}

.flexbox-50 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px #777;
}

.hidden {
  display: none;
}

.feather-small {
  width: 24px;
  height: 24px;
}

.feather-large {
  width: 40px;
  height: 40px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  color: #ddd;
  line-height: 60px;
  padding: 0 24px;
  background-color: transparent;
}
.navbar.light {
  background-color: #fff;
  color: rgb(25, 125, 112);
  box-shadow: rgba(16, 77, 69, 0.2) 0px 20px 30px -20px;
}
.navbar .menu-icon {
  display: none;
}
.navbar .site-logo {
  font-size: 1.6rem;
  font-weight: 400;
}
.navbar .close-menu {
  display: none;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.navbar .nav-links .nav-link {
  padding: 0 10px;
}
.navbar .nav-links .nav-link::after {
  content: "";
  width: 0;
  background: rgb(26, 109, 110);
  display: block;
  height: 2px;
  transition: 0.5s;
}
.navbar .nav-links .nav-link:hover::after {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .navbar .menu-icon {
    display: flex;
    margin-right: 10px;
  }
  .navbar .close-menu {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .navbar .nav-links {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    line-height: 40px;
    text-align: left;
    background-color: #d1e5e2;
    color: rgb(25, 125, 112);
    opacity: 0.9;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .navbar #menu-toggle:checked ~ .nav-links {
    transform: translate(0);
  }
  .responsive {
    display: block;
  }
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
}
.slider .slide img {
  width: inherit;
  height: inherit;
}
.slider .slide.appear {
  z-index: 2;
  -webkit-animation: appear 2s;
          animation: appear 2s;
}
.slider .slide.disappear {
  z-index: 2;
  -webkit-animation: disappear 2s;
          animation: disappear 2s;
}

@-webkit-keyframes appear {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes appear {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}
@-webkit-keyframes disappear {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
@keyframes disappear {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}
.dots {
  position: absolute;
  bottom: 50px;
  left: 46%;
  z-index: 2;
}
.dots .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #777;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.dots .dot.dark {
  background-color: #333;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.flex {
  display: flex;
}
.flex.colx2 div {
  flex-basis: 50%;
}
.flex.colx3 div {
  flex-basis: 33.33%;
}
.flex.centered {
  justify-content: center;
  align-items: center;
}
.flex .w-30 {
  flex-basis: 30%;
}
.flex .w-70 {
  flex-basis: 70%;
}

@media only screen and (max-width: 800px) {
  .flex.responsive {
    display: block;
  }
}
h1 {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
}

.text-xl {
  font-size: 5rem;
}

.text-l {
  font-size: 3rem;
}

.text-m {
  font-size: 2rem;
}

.text-thin {
  font-weight: 200;
}

.text-center {
  text-align: center;
}

.text-black-dark {
  color: #222;
}

.text-black-light {
  color: #666;
}

.txt-light {
  color: #fff;
}

.txt-red {
  color: #ff5421;
}

.txt-blue {
  color: #171f32;
}

.txt-skyblue {
  color: #0098fe;
}

.text-praimary {
  color: #027682;
}

.txt-8 {
  font-size: 8px;
}

.txt-10 {
  font-size: 10px;
}

.txt-12 {
  font-size: 12px;
}

.txt-14 {
  font-size: 14px;
}

.txt-16 {
  font-size: 16px;
}

.txt-20 {
  font-size: 20px;
}

.txt-j {
  text-align: justify;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

.txt-b {
  font-weight: bold;
}

.mt-1,
.my-1 {
  margin-top: 0.5rem;
}

.mt-2,
.my-2 {
  margin-top: 0.75rem;
}

.mt-3,
.my-3 {
  margin-top: 1rem;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem;
}

.mt-5,
.my-5 {
  margin-top: 2rem;
}

.mb-1,
.my-1 {
  margin-bottom: 0.5rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.75rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem;
}

.mb-5,
.my-5 {
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0,
.py-0 {
  padding-top: 0;
}

.pr-0,
.px-0 {
  padding-right: 0;
}

.pb-0,
.py-0 {
  padding-bottom: 0;
}

.pl-0,
.px-0 {
  padding-left: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.pt-3,
.py-3 {
  padding-top: 1rem;
}

.pr-3,
.px-3 {
  padding-right: 1rem;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem;
}

.pl-3,
.px-3 {
  padding-left: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-5,
.py-5 {
  padding-top: 3rem;
}

.pr-5,
.px-5 {
  padding-right: 3rem;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem;
}

.pl-5,
.px-5 {
  padding-left: 3rem;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 800px) {
  .text-sm-left {
    text-align: left;
  }
  .text-xl {
    font-size: 2rem;
  }
  .text-m {
    font-size: 1rem;
  }
}
