@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

.message {
    height: 60vh;
    background-image: url('../images/bg/full/1.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    /* filter: blur(4px); */
}