* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* color:#cf4d35;  red: theme color*/
}

body {
    /* background-color: #f3f8f9; */
    background-color: #edf3f4;
}

a {
    color: inherit;
    text-decoration: none;
}

/* FONTS */

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
    /* src: url('/public/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf'); */
}

@font-face {
    font-family: "Syncopate";
    src: url("../fonts/Syncopate/Syncopate-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    src: url("../fonts/material/MaterialIconsOutlined-Regular.otf")
        format("opentype");
    /* For IE6-8 */
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.syncopate {
    font-family: "Syncopate", sans-serif;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
}

/* Text styles */

.txt-light {
    color: #fff;
}

.txt-red {
    color: #ff5421;
}

.txt-blue {
    color: #171f32;
}

.txt-skyblue {
    color: #0098fe;
}

.txt-8 {
    font-size: 8px;
}

.txt-10 {
    font-size: 10px;
}

.txt-12 {
    font-size: 12px;
}

.txt-14 {
    font-size: 14px;
}

.txt-16 {
    font-size: 16px;
}

.txt-20 {
    font-size: 20px;
}

.txt-j {
    text-align: justify;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.txt-c {
    text-align: center;
}

.txt-b {
    font-weight: bold;
}

.mt-1,
.my-1 {
    margin-top: 0.5rem;
}

.mt-2,
.my-2 {
    margin-top: 0.75rem;
}

.mt-3,
.my-3 {
    margin-top: 1rem;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem;
}

.mt-5,
.my-5 {
    margin-top: 2rem;
}

.mb-1,
.my-1 {
    margin-bottom: 0.5rem;
}

.mb-2,
.my-2 {
    margin-bottom: 0.75rem;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem;
}

.mb-5,
.my-5 {
    margin-bottom: 2rem;
}

.p-0 {
    padding: 0;
}

.pt-0,
.py-0 {
    padding-top: 0;
}

.pr-0,
.px-0 {
    padding-right: 0;
}

.pb-0,
.py-0 {
    padding-bottom: 0;
}

.pl-0,
.px-0 {
    padding-left: 0;
}

.p-1 {
    padding: 0.25rem;
}

.pt-1,
.py-1 {
    padding-top: 0.25rem;
}

.pr-1,
.px-1 {
    padding-right: 0.25rem;
}

.pb-1,
.py-1 {
    padding-bottom: 0.25rem;
}

.pl-1,
.px-1 {
    padding-left: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.pt-3,
.py-3 {
    padding-top: 1rem;
}

.pr-3,
.px-3 {
    padding-right: 1rem;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem;
}

.pl-3,
.px-3 {
    padding-left: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem;
}

.pt-5,
.py-5 {
    padding-top: 3rem;
}

.pr-5,
.px-5 {
    padding-right: 3rem;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem;
}

.pl-5,
.px-5 {
    padding-left: 3rem;
}

/* ICON FONT (Feather icon) */

.feather-small {
    width: 16px;
    height: 16px;
}

.feather-medium {
    width: 20px;
    height: 20px;
}

.feather-red {
    color: #ff5421;
}

.feather-green {
    color: green;
}

.feather-light {
    color: #fff;
}

#image-animator {
    width: 100%;
    min-height: 110vh;
    position: relative;
    left: 0;
    top: 0;
    user-select: none;
}

#image-animator img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    /* background: rgba(96,150,179, 0.54); */
}

#image-animator img {
    animation-name: imgFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}

#image-animator img:nth-of-type(1) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 12s;
}

#image-animator img:nth-of-type(2) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 8s;
}

#image-animator img:nth-of-type(3) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 4s;
}

#image-animator img:nth-of-type(4) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
}

@keyframes imgFade {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./images/capture1.png'); */
    background-image: url("../images/bg/full/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.app-header-logo {
    width: 180px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 92%;
    display: flex;
    padding: 1% 12%;
    line-height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 5;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul a {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
}

nav.light {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 60px -20px;
}

nav.light .nav-links {
    flex: 1;
    text-align: right;
}

nav.light .nav-links ul a {
    font-family: "Syncopate";
    color: #033059;
}

.nav-links ul a:last-child,
nav.light .nav-links ul a:last-child {
    font-weight: 800;
    color: #ff5421;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    background: #ff5421;
    display: block;
    height: 2px;
    /* margin: auto; */
    transition: 0.5s;
}

.nav-links ul li:hover {
    cursor: pointer;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .feather-small {
    display: none;
}

.app-msg,
.page-centered-msg {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.app-msg h1 {
    font-size: 48px;
    margin-top: 20px;
}

.app-msg p {
    font-size: 32px;
    color: #f4a21f;
}

.app-msg button {
    margin-top: 25px;
}

.page-centered.w-50 {
    position: absolute;
    left: 20%;
}

.page-centered.w-70 {
    position: absolute;
    left: 12%;
}

.top-right-icon {
    /* relative to parent */
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    border: 0;
    transition: all ease 0.5s;
}

.top-right-icon:hover {
    cursor: pointer;
    background-color: #db6743;
}

.btn {
    font-size: 14px;
    padding: 8px 16px;
    border-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

.btn-red {
    background-color: #ff5421;
    color: #ddd;
}

.btn-red:hover {
    background-color: #ff5521c0;
}

.btn.rounded {
    border-radius: 50px;
}

.page-centered-msg h2 {
    color: #0098fe;
    font-size: 1.6rem;
}

.page-centered-msg .msg {
    color: #bbb;
    padding: 0 10%;
    font-size: 1rem;
}

.page-centered-msg .btn {
    padding: 5px 20px;
    text-align: center;
    background-color: #ff5421;
    margin: 10px auto;
    border-radius: 5px;
}

section {
    /* width: 100%; */
    text-align: center;
}

.section-80 {
    display: block;
    width: 80%;
    margin: auto;
}

section.offer {
    position: relative;
    top: -50px;
}

.faq .title {
    font-family: "Montserrat";
    font-size: 1.8rem;
    margin-top: 20px;
    color: #1a253d;
    font-weight: 100;
}

.faq .title {
    margin-bottom: 50px;
}

.red-underline::after {
    content: "";
    background: #ff5421;
    display: block;
    position: relative;
    width: 8%;
    height: 6px;
    top: 10px;
    left: 46%;
}

/* section title */

section .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 100px !important;
    margin-bottom: 20px;
}

section .content {
    font-size: 1rem;
}

section .row {
    display: flex;
    justify-content: space-between;
}

section .row.txt-l {
    display: flex;
    justify-content: left;
}

section .drivethru {
    margin-top: 3rem;
    color: #ff5421;
    letter-spacing: 2px;
}

.services,
.faq {
    width: 80%;
    margin: auto;
    color: #1a253d;
}

/* fancypallets in who section and on services pages */

.fancy-pallet {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    align-items: center;
    transition: 0.5s;
    position: relative;
    margin-top: 70px;
}

.fancy-pallet.half {
    flex-basis: 48%;
}

.fancy-pallet.one-third {
    flex-basis: 32%;
}

.fancy-pallet .ico {
    position: absolute;
    left: cal(50%-50px);
    top: -50px;
    background-color: #fff;
    padding: 25px;
    border-radius: 50%;
    border-color: #edf3f4;
    border-width: 5px;
    border-style: solid;
    transition: all 0.5s ease;
}

.fancy-pallet .ico img {
    width: 50px;
    height: 50px;
}

.fancy-pallet h1 {
    margin-top: 70px;
    font-weight: 200;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.fancy-pallet p {
    font-size: 0.9rem;
    text-align: left;
    margin-top: 16px;
    transition: all 0.5s ease;
}

.fancy-pallet .btn-blue {
    font-size: 12px;
    padding: 7px 15px;
    background-color: #033059;
    border-color: transparent;
    color: white;
    border-radius: 50px;
    position: absolute;
    bottom: -14px;
    justify-content: center;
    align-items: center;
}

.fancy-pallet .btn-blue:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: #ff5521;
    color: #fff;
}

.fancy-pallet:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 40px 60px -20px;
}

.fancy-pallet:hover h1 {
    animation-name: moveup;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes moveup {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.fancy-pallet:hover h1,
.fancy-pallet:hover p {
    color: #ff5421;
}

.fancy-pallet:hover .ico {
    border-color: #ff5421;
}

/* Services */

.services .col {
    flex-basis: 31%;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services .col:nth-of-type(1) {
    background-image: url("../images/banner/services/1.jpg");
}

.services .col:nth-of-type(2) {
    background-image: url("../images/banner/services/2.jpg");
}

.services .col:nth-of-type(3) {
    background-image: url("../images/banner/services/3.jpg");
}

.services .col .content {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    align-items: center;
    justify-content: center;
    background: rgba(17, 41, 88, 0.9);
    border-radius: 3px;
    padding: 20px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease;
}

.services .col:hover .content {
    transform: translate(-50%, -50%) rotateY(0);
    opacity: 1;
}

.services .col .content h1 {
    font-weight: bold;
    font-size: 18px;
}

.services .col .content p {
    font-family: "Quicksand", Verdana;
    font-size: 14px;
    margin-top: 16px;
}

.services .col .title {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-weight: bold;
    font-size: 18px;
    color: #171f32;
    opacity: 1;
    transition: all 0.3s ease;
}

.services .col:hover .title {
    opacity: 0;
    bottom: -20%;
}

/* qutoe */

.quote {
    /* background-image: url('../images/index/banner.png'); */
    background-color: #033059;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 3rem;
    color: rgb(236, 156, 99);
    font-family: "Montserrat";
}

.quote p::before,
.quote p::after {
    content: '"';
    display: block;
    position: relative;
    font-size: 2.5rem;
}

.quote p::before {
    top: 20px;
    left: -10%;
    text-align: left;
}

.quote p::after {
    top: 5px;
    right: -10%;
    text-align: right;
}

.faq {
    font-size: 16px;
}

.faq .col:nth-of-type(1) {
    flex-basis: 50%;
    text-align: left;
}

.faq .question .q {
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.faq .question .ans {
    font-size: 0.8rem;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px;
}

.question.show .q {
    background-color: #ff5421;
    color: #fff;
    font-size: 18px;
}

.question.show .feather-small {
    color: #fff;
}

.question.show .ans {
    animation-name: toggleSlow;
    animation-duration: 0.5s;
    overflow: hidden;
}

@keyframes toggleSlow {
    0% {
        height: 0%;
    }
    50% {
        height: 15%;
    }
    100% {
        height: 25%;
    }
}

.faq .question:not(.show) .q:hover {
    cursor: pointer;
}

.question:not(.show) .ans {
    display: none;
    height: 0%;
    transition: all 0.5s ease;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    width: 90%;
    height: 90%;
}

/* Footer */

.footer {
    margin-top: 100px !important;
    background-color: #000;
    text-align: left;
    position: relative;
    width: auto;
    display: block;
}

.newsletter {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #171f32;
    justify-content: space-between;
    position: absolute;
    width: 76%;
    top: -50px;
    left: 12%;
}

.footer .social-bar {
    margin-top: 10px;
}

.footer .social-bar a {
    color: #fff;
    margin: 0px 5px;
    transition: all 0.5s ease;
}

.footer .social-bar a:hover {
    color: #ff5421;
}

.newsletter > div {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    padding: 25px;
}

.newsletter .icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.newsletter .title {
    flex-grow: 1;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.newsletter input {
    padding: 10px;
    margin-right: 20px;
    width: 100%;
}

.newsletter form {
    width: 100%;
}

.newsletter button {
    padding: 4px;
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #6e6d6d;
    padding: 5% 0%;
}

.footer .col img {
    width: 120px;
}

.footer .col h2 {
    font-family: "Quicksand";
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.footer .col:nth-of-type(2) h2:after {
    content: "";
    width: 50px;
    background: #ff5421;
    display: block;
    height: 1px;
    /* margin: auto; */
    transition: 0.5s;
}

.footer .col p {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}

.footer .content .about,
.footer .content .address {
    flex-basis: 20%;
    justify-content: left;
}

.footer .content .about img {
    width: 150px;
}

.footer .content .about p {
    font-size: 0.75rem;
    /* text-align: justify; */
}

.footer .content .contact {
    flex-basis: 40%;
}

.footer .feather-small {
    margin-right: 10px;
}

.footer .contactus button {
    width: 100%;
}

/* top margin of each row */

.footer .contactus .row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.footer .contactus .row input {
    width: 48%;
    padding: 4px;
}

.footer .contactus .row input:focus,
.footer .contactus .row textarea:focus {
    border: 1px solid #ff5421;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
}

.footer .contactus .row textarea {
    width: 100%;
}

.copyright {
    position: absolute;
    color: silver;
    bottom: 10px;
    z-index: 5;
    width: 100%;
    text-align: center;
    color: #6e6d6d;
    font-size: 0.8rem;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

.whatsapp-icon img {
    width: 40px;
    height: 40px;
}

.whatsapp:hover {
    cursor: pointer;
}

.mini_header {
    min-height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    position: relative;
}

.mini_header.registration {
    background-image: url("../images/bg/mini/registration.png");
}

.mini_header.services {
    background-image: url("../images/bg/mini/services.png");
}

.mini_header.about {
    background-image: url("../images/bg/mini/about.png");
}

.mini_header.blog {
    background-image: url("../images/bg/mini/blog.png");
}

.mini_header.contact {
    background-image: url("../images/bg/mini/contact.png");
}

.header.signup {
    min-height: 100vh;
    background-image: url("../images/bg/full/2.png");
}

.frow {
    display: flex;
}

.fcol {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-45 {
    flex-basis: 45%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.v-center {
    display: flex !important;
    /* flex-direction: column !important; */
    align-items: center;
}

/* sing in */

.auth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30px;
    padding: 0px 3%;
    min-height: 90vh;
}

.auth-section .site-slogan {
    display: block;
    width: 60%;
    margin: auto;
}

.site-slogan p {
    color: #e6e6e6b2;
    font-size: 1rem;
    text-align: left;
    margin-top: 60px;
}

.auth-section .auth-form {
    display: block;
    width: 25%;
    background-color: #001c31;
    opacity: 0.7;
    padding: 30px;
    margin: auto;
}

.auth-form .title {
    color: #0098fe;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 30px;
}

.auth-form input,
.auth-form select {
    background-color: #3b515f;
    outline: none;
    border: none;
    color: whitesmoke;
    border-radius: 2px;
    padding: 10px;
    font-size: 0.75rem;
}

.auth-form input::placeholder {
    color: #b9bec4;
}

.auth-form .hr {
    border-width: 0.5px;
    border-style: dashed;
    border-color: #777;
}

/* signup confirmation */

.signup-confirmation {
    display: flex;
    position: absolute;
    min-height: 90vh;
    top: 0;
}

.signup-confirmation .msg-body {
    display: block;
    margin: auto;
    padding: 5%;
    /* align-content: center; */
}

.signup-confirmation .msg-body .title {
    color: #0098fe;
    font-size: 32px;
}

.signup-confirmation .msg-body .desc {
    color: silver;
    font-size: 16px;
}

.signup-confirmation .btn-red {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.frow.space-between {
    justify-content: space-between;
}

.frow.align-center {
    align-items: center;
}

.frow.justify-center {
    justify-content: center;
}

.rotate-90 {
    transform: rotate(90deg);
}

.circular-20 {
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 50%;
}

.circular-25 {
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 50%;
}

.index-page {
    color: #224669;
}

.index-page .red-underline {
    margin: 50px 0px;
}

.index-page .col.half {
    flex-basis: 50%;
}

.index-page .col.half img {
    width: 80%;
}

.index-page .col.half.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-page .mission,
.index-page .vision,
.index-page .blog {
    margin-top: 50px;
    padding: 40px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 40px 60px -20px;
}

.index-page p {
    line-height: 28px;
    text-align: left;
}

.fancy-pallet {
    text-align: center;
}

.fancy-pallet p {
    line-height: 22px;
    text-align: center;
}

.index-page .blog ul {
    padding: 10px;
    margin-left: 30px;
}

.support h3 {
    color: #224669;
}

.overlay {
    position: relative;
    top: 100px;
}
