@media only screen and (max-width: 800px) {
    .rcol,
    .auto-col {
        display: block;
    }
    .auto-col .w-48 {
        width: 100%;
    }
    .app-header-logo {
        width: 150px;
    }
    .app-msg h1 {
        font-size: 20px;
    }
    .app-msg p {
        margin-top: 20px;
        font-size: 14px;
        color: #ff5421;
    }
    section {
        width: 100%;
        text-align: center;
    }
    section .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    section .content {
        font-size: 0.8rem;
        text-align: justify;
    }
    .services,
    .faq {
        width: 90%;
        margin: auto;
    }
    nav {
        padding: 4%;
    }
    .nav-links {
        position: fixed;
        width: 50%;
        overflow: auto;
        top: 0px;
        height: 100vh;
        line-height: 40px;
        right: 0px;
        background-color: #171f32;
        z-index: 10;
        text-align: left;
        padding: 20px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .slide-left {
        transform: translateX(0);
    }
    .nav-links ul a {
        display: block;
        margin-left: 30px;
        padding: 0;
    }
    .nav-links ul a:nth-of-type(1) {
        margin-top: 50px;
    }
    nav .feather {
        display: block;
    }
    nav.light .nav-links {
        text-align: left;
    }
    nav.light .nav-links ul a {
        color: #fff;
    }
    section .row {
        display: block;
        justify-content: space-between;
    }
    section .row.reverse {
        display: flex !important;
        flex-direction: column-reverse;
    }
    section .col {
        margin-top: 10px;
    }
    .fancy-pallet {
        margin-top: 100px !important;
    }
    .quote {
        min-height: 20vh;
    }
    .quote p {
        font-size: 0.9rem;
    }
    .quote p::before,
    .quote p::after {
        font-size: 1.5rem;
    }
    .quote p::before {
        top: 20px;
        left: -5%;
        text-align: left;
    }
    .quote p::after {
        top: 5px;
        right: -5%;
        text-align: right;
    }
    .faq video {
        width: 100%;
    }
    .faq h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .faq .question :not(.show) {
        margin-top: 0;
    }
    .faq .question .q {
        font-size: 0.9rem;
    }
    .faq .question .ans {
        font-size: 0.8rem;
    }
    .footer {
        margin-top: 100px !important;
        padding: 30px;
    }
    .footer,
    .newsletter,
    .footer .content {
        display: block;
    }
    .newsletter>div {
        padding: 15px 20px;
    }
    .newsletter .icon {
        width: 25px;
        height: 25px;
    }
    .newsletter .title {
        font-size: 14px;
    }
    .newsletter input {
        padding: 5px;
    }
    /* content */
    .footer .content {
        margin-top: 0;
    }
    .footer .contact,
    .footer .address {
        margin-top: 10px;
    }
    .copyright {
        bottom: 10px;
        width: 89%;
        font-size: 0.6rem;
    }
    .auth-section {
        /* display: block;
       max-width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        padding: 0;
        margin: 0;
    }
    .auth-section .site-slogan {
        display: none;
    }
    .auth-section .auth-form {
        display: block;
        width: 80%;
    }
    .index-page {
        width: 92%;
    }
    .index-page .desc {
        padding: 0 4%;
    }
    .index-page .blog,
    .index-page .mission,
    .index-page .vision {
        margin-top: 30px;
        padding: 2%;
    }
    .index-page .col>img {
        margin: 40px 0;
    }
    #image-animator,
    #image-animator img {
        width: 100%;
        height: 50vh;
    }
    .app-msg h1 {
        color: white;
    }
    .app-msg p {
        padding: 0 10px;
    }
    .page-centered.w-50,
    .page-centered.w-70 {
        position: absolute;
        margin-left: 4%;
        width: 84%;
        left: 0;
    }
}

@media only screen and (max-width: 440px) {
    .quote {
        min-height: 15vh;
    }
    .quote p {
        font-size: 0.8rem;
    }
    .quote p::before,
    .quote p::after {
        font-size: 1.5rem;
    }
    .quote p::before {
        top: 20px;
        left: -5%;
        text-align: left;
    }
    .quote p::after {
        top: 5px;
        right: -5%;
        text-align: right;
    }
    .app-msg p {
        padding: 0 10px;
        font-size: 1rem;
    }
    .page-centered.w-50,
    .page-centered.w-70 {
        position: absolute;
        margin-left: 4%;
        width: 84%;
        left: 0;
    }
}